.container {
  position: relative;
  display: grid;
  grid: 1rem 1fr 1rem / 4rem 1fr 1rem;
  grid-template-areas:
        "a a a"
        "b c f"
        "b d d";
  height: 6rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35rem;
  border: 1px solid #f1f1f1;
  border-radius: 7px;
   transition: 100ms ease-out;
  &.ready {
    opacity: 1;
  }

  :global .select-wrapper {
    grid-area: c;
    height: 100%;
    width: 100%;
  }

  :global .select-native,
  :global .select-custom {
    grid-area: c;
    width: 100%;
    height: 100%;
    color: #323656;
    background: #fff;
    border: 1px solid #e7ebff;
    border-radius: 2rem;
    outline: none;
    font-size: 1.0625rem;
    transition: 100ms ease-out;
    &:hover,
    &:focus {
      border: 1px solid #bdbdbd;
      box-shadow: none;
    }
  }
  :global .select-native {

  }
  :global .select-custom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    :global img{
      width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    grid-area: b;
    left: -3.3rem;
    top: 0.5rem;
    }
  }

  @media (hover: hover) {
    :global .select-custom {
      display: block;
    }
    :global .select-native:focus + .select-custom {
      display: none;
    }
  }

  :global .select-native:focus,
  :global .select-custom.is-active .select-custom-trigger {
    outline: none;
    //   box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
  }

  :global .select-label {
    grid-area: a;
    width: fit-content;
    position: absolute;
    top: -0.4rem;
    font-weight: bold;
    left: 45%;
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
    color: #abb2f2;
    background: white;
  }

  :global .menu-label {
    position: absolute;
    display: flex;
    align-items: center;
    top: -0.0625rem;
    background: white;
    height: 0.1875rem;
    padding: 0 0.75rem;
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
    color: #abb2f2;
    transition: 100ms ease-out;
    &[data-alignment="center"] {
      left: 50%;
      transform: translate(-50%, 0);
    }
    .container-menu:hover ~ & {
      color: #015fcc;
      font-size: 0.5625rem;
    }
  }

  :global .select-native {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.8rem;
  }

  :global .select-custom-trigger {
    grid-area: c;
    width: 100%;
    height: 100%;
    padding: 0 1.25rem;
    background: #fff;
    border: 1px solid #e7ebff;
    border-radius: 2rem;
    outline: none;
    font-size: 1.0625rem;
    transition: 100ms ease-out;
    text-align: center;
    line-height: 2.5rem;
    color: #323656;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    display: flex;
    &:hover,
    &:focus {
      border: 1px solid #8f8f8f;
      box-shadow: none;
    }
  }

  :global .select-custom-trigger::after {
    content: "▾";
    position: absolute;
    top: 0;
    line-height: 3.8rem;
    right: 0.8rem;
  }

  :global .select-custom-trigger:hover {
    border-color: #8b8b8b;
  }

  :global .select-custom-options {
    position: absolute;
    top: calc(3.8rem + 0.8rem);
    left: 0;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 0.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #e9e1f8;
    z-index: 1;
    padding: 0.8rem 0;
    display: none;
  }

  :global .select-custom.is-active .select-custom-options {
    display: block;
  }

  :global .select-custom-option {
    position: relative;
    padding: 0.8rem;
    padding-left: 2.5rem;
  }

  :global .select-custom-option.is-hover,
  :global .select-custom-option:hover {
    background-color: #ddd;
    color: white;
    cursor: default;
  }

  :global .select-custom-option:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  :global .select-custom-option.is-active::before {
    content: "✓";
    position: absolute;
    left: 0.8rem;
  }

  :global .menu-wrap {
    position: relative;
    display: flex;
    height: 3.25rem;
    margin: 0.75rem 0;
    justify-content: center;
    cursor: pointer;
    max-width: 25rem;
    z-index: 10000;
  }

  :global .menu-container {
    width: 100%;
    color: #323656;
    padding: 0 1.25rem;
    background: #fff;
    border: 1px solid #e7ebff;
    border-radius: 2rem;
    outline: none;
    font-size: 1.0625rem;
    transition: 100ms ease-out;
    height: fit-content;
    &:hover,
    &:focus {
      border: 1px solid #7b7b7c;
      box-shadow: none;
    }
  }

  :global .menu-selection {
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    color: #323656;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}
