html, body, #__next {
  position:fixed;
  display:flex;
  flex-direction:column;
  top:0;
  left:0;
  width:100%;
  height:100%;
  max-height:100%;
  font-family:"Lato", sans-serif;
  font-size:16px;
  color:#323656;
  overflow:auto;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-size:1rem;
}

@media (max-width: 420px) {
  html,body, #__next { font-size:8px }
}

::-webkit-scrollbar {
  display:none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 300px) {
  html,body, #__next { font-size:5px }
}

@media (min-width:300px) and (max-width: 360px) {
  html,body, #__next { font-size:6px }
}

@media (min-width:360px) and (max-width: 480px) {
  html,body, #__next { font-size:7px }
}

@media (min-width:480px) and (max-width: 600px) {
  html,body, #__next { font-size:8px }
}

@media (min-width:600px) and (max-width: 720px) {
  html,body, #__next { font-size:9px }
}

@media (min-width:720px) and (max-width: 840px) {
  html,body, #__next { font-size:10px }
}

@media (min-width:840px) and (max-width: 960px) {
  html,body, #__next { font-size:11px }
}

@media (min-width:960px) and (max-width: 1080px) {
  html,body, #__next { font-size:12px }
}

@media (min-width:1080px) and (max-width: 1200px) {
  html,body, #__next { font-size:13px }
}