@bit:registry=https://node.bit.cloud
@blockspaces:registry=https://node.bit.cloud
@teambit:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=2d2cdb11-b09a-4db3-8cfa-293b8e170a1d
//node.bit.cloud/:_authToken=2d2cdb11-b09a-4db3-8cfa-293b8e170a1d
always-auth=true
